.ikukyu__index__hero
  background-color: #124B7E
  color: #fff
  padding: 1.5rem 1.5rem 7.5rem 1.5rem

.ikukyu__index__hero__heading
  font-weight: 900
  font-size: 10vw
  line-height: 1.2

.ikukyu__index__hero__heading__accent
  color: #FBD354

.ikukyu__index__hero__paragraph
  font-size: 3.5vw
  margin-top: 0.6rem

.ikukyu__index__main
  background-color: #256298
  padding: 1.5rem

.ikukyu__index__main__inner
  -webkit-transform: translateY(-6.5rem)
  transform: translateY(-6.5rem)

.ikukyu__index__main__item__first
  -webkit-transform: translateY(-6.5rem)
  transform: translateY(-6.5rem)

.ikukyu__index__main__item__second
  margin-top: -6.5rem

.ikukyu__index__main__item
  background-color: #fff
  padding: 1.5rem
  margin-bottom: 1.5rem

.ikukyu__index__main__column
  margin-top: -5.5rem
  color: #fff
